:root{
    /* Colors */
    --dark-red: #780000;
    --red: #c1121f;
    --off-white: #f0f0f0;
    --gray: #d3d3d3;

    --heading: 1.8rem;
    --subheadng: 1rem;
    --body: 1rem;

    --border-radius: 20px;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    background: linear-gradient(to top left, var(--gray), var(--off-white));
}

/* Tag styling */
h1{
    font-size: var(--heading);
}

h3{
    font-size: var(--subheadng);
}

p{
    font-size: var(--body);
}

label{
    color: black;
    font-weight: 700;
    font-size: var(--subheadng);
}

input,
select {
    border: 1px solid black;
    height: 35px;
    border-radius: 8px;
    padding-left: 10px;
    margin: 4px 0px;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--off-white);
    max-width: 1000px;
    min-width: 320px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.153);
}

.header{
    grid-column: 1 / span 2;
    background-color: var(--dark-red);
    color: var(--off-white);
    height: 100px;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.type{
    font-size: var(--heading);
    font-weight: 200;
}

.form-container {
    color: black;
    font-size: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.radio-button {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 25px;
    accent-color: var(--dark-red);
}

.button-container {
    display: flex;
    margin-top: auto;
    gap: 10px;
}

button{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    color: white;
}

.calc {
    background-color: var(--red);
}

.calc:hover {
    cursor: pointer;
    background-color: var(--dark-red);
}

.maintain{
    grid-column: 1 / span 2;
}

.reset{
    margin-top: auto;
    grid-column: 1 / span 2;
}

.reset,
.clear{
    background-color: rgb(88, 88, 88);
}

.reset:hover,
.clear:hover{
    cursor: pointer;
    background-color: rgb(70, 70, 70);
}

/* Results */

.results-side{
    padding: 20px;
    height: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25px 1fr auto;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.results-side h3{
    grid-column: 1 / span 2;
    margin-bottom: 4px;
}

.results-container{
    height: 100%;
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding-bottom: 6px;
}

.result-card{
    height: 100%;
    border: 2px solid var(--dark-red);
    border-radius: 5px;
}

.result-card h3 {
    background-color: var(--dark-red);
    padding: 5px;
    color: var(--off-white);
}

.result-card p {
    padding: 10px;
}

/* Copyright */
#copyright {
    color: var(--red);
    margin: 20px auto;
    font-weight: 700;
}


/*Controlling Visible States*/
.hidden {
    display: none;
}